#Jira
# This is Basic Auth Token [not Jira Personal Access Token] 
JIRA_TOKEN = ""

# This is Jira Personal Access Token
JIRA_PAT_TOKEN = ""
JIRA_EMAIL = ""
JIRA_DOMAIN = ""
JIRA_PROJECT_CODE = ""

# LOCAL VECTOR DB
VECTOR_DB = ""

# CODE LOADER PROJECT
PROJECT_DIR = ""

# LOCAL GIT REPO OF DUMMY PROJECT
REPO_NAME = ""
PROJECT_REPO = ""
DEFAULT_BRANCH = ""
REPO_OWNER = ""
GITHUB_TOKEN = ""

# GOOGLE API KEY
GOOGLE_API_KEY=""